/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #540b51;
}

a {
  text-decoration: none;
}

#navbar {
  padding: 30px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
}

nav .slack-logo {
  width: 100px;
  position: relative;
}

.nav-btn {
  width: 85px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.nav-btn-img {
  background-color: #540b51;
  border: none;
}

.nav-ul {
  position: absolute;
  display: none;
}

.main-container {
  padding: 15px;
  text-align: center;
}

#main-title {
  color: #fff;
  font-size: 2.9rem;
}

.main-container p {
  color: #fff;
  font-size: 1.4rem;
}

.main-container p span {
  color: #eaaf2f;
}

#google-btn img {
  width: 30px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.general-btn {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  text-align: center;
  color: #540b51;
  border: 1px solid #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#google-btn {
  background-color: #4285f4;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #4285f4;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

#google-btn img {
  width: 30px;
  border: 5px solid #fff;
  border-radius: 3px;
  background-color: #fff;
}

#google-btn span {
  width: 100%;
  margin-right: 37px;
  text-align: center;
}

#slackApp-img {
  width: 100%;
  margin: 10px 0px;
}

.collab-section {
  padding: 20px;
  background-color: #f3eae2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.collab-section p {
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: center;
}

.collab-section .collab-companies-img {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.collab-companies-img img {
  width: 100px;
  margin: 15px;
}

.collab-companies-img #airbnb-logo {
  width: 110px;
}

.collab-companies-img #nasa-logo {
  width: 70px;
}

.collab-companies-img #uber-logo {
  width: 75px;
}

.collab-companies-img #target-logo {
  width: 50px;
}

.collab-companies-img #nytimes-logo {
  width: 210px;
}

.collab-companies-img #spotify-logo {
  width: 130px;
}

.benefits-section {
  background-color: #fff;
  align-items: center;
  padding: 40px 10px;
}

.benefits-section h3 {
  text-align: center;
  color: #540b51;
  font-size: 1.9em;
  margin: 0px;
  text-transform: uppercase;
}

#p-benefits-content {
  text-align: center;
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 50px;
}

.ul-benefits-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ul-benefits-section li p span {
  color: #540b51;
  font-size: 3.5em;
  font-weight: 700;
  margin: 0px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-container-benefits {
  width: 200px;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
}

.cta-section {
  color: #fff;
  background-color: #540b51;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cta-section h3 {
  color: #fff;
  font-size: 2.5em;
}

#talkToSales-btn {
  background-color: #540b51;
  border: 1px solid #fff;
  color: #fff;
}

#footer-section {
  background-color: #fff;
}

.footer-section hr {
  width: 90%;
  height: auto;
  margin-top: 35px;
  margin-bottom: 15px;
  opacity: 30%;
}

.footerLinks-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footerLinks-container li {
  font-weight: bold;
}

#download-link {
  color: #4285f4;
}

.socialMedia-links {
  height: 40px;
  margin-top: 35px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.copyRight-text {
  text-align: center;
  color: #454245;
  line-height: 22px;
  padding: 20px;
  display: flex;
}

.icon-container {
  display: flex;
  gap: 10px;
}

#region-icon {
  width: 20px;
  height: auto;
}

#download-icon {
  width: 20px;
  height: auto;
}

@media (min-width: 769px) and (max-width: 1023px) {
  .header-container {
    margin-bottom: 135px;
    display: flex;
    align-items: center;
  }

  .main-container {
    width: 60%;
    text-align: center;
  }

  #main-title {
    width: 75%;
    font-size: 5rem;
  }

  .main-container p {
    width: 75%;
    font-size: 1.7rem;
  }

  .image-container {
    width: 500px;
    position: absolute;
    left: 65%;
  }

  .collab-section {
    padding: 40px;
  }

  .collab-section p {
    margin-bottom: 40px;
    margin-top: 0;
  }

  .collab-section .collab-companies-img {
    width: 755px;
    display: flex;
    justify-content: space-evenly;
  }

  .collab-section img {
    margin: 0;
  }

  .benefits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefits-section h3 {
    font-size: 1.5em;
    margin: 30px 0px;
  }

  #p-benefits-content {
    font-size: 1.2em;
  }

  .ul-benefits-section {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .p-container-benefits {
    text-align: left;
  }

  .cta-section {
    margin-bottom: 35px;
    margin-right: 40px;
    margin-left: 40px;
  }

  .footerLinks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0;
  }

  .footerLinks-container li {
    margin: 0;
  }

  .icon-container {
    gap: 5px;
  }

  .socialMedia-links {
    width: 350px;
    display: flex;
    justify-content: flex-start;
    gap: 75px;
  }
}
